// Colour
$dark_void: #151419;
$liquid_lava: #F56E0F;
$dusty_gray: #878787;
$snow: #FBFBFB;
$gluon_gray: #1B1B1E;
$slate_gray: #262626;

// Font
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$primary-font-family: "Lato", sans-serif;
$font-weight-standard: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 900;